<form action="/wines" method="post">
  <label for="grape">Grape:</label>
  <input type="text" name="grape">

  <label for="colour">Colour:</label>
  <input type="text" name="colour">

  <input type="submit" value="Edit wine!">
</form>